.loginRegisterModalBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #000000c2;
    z-index: 190;
}

.loginRegisterModalBackdropHide {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #000000c2;
    z-index: 190;
}

.loginRegisterModal {
    position: fixed;
    top: 9rem;
    left: calc(50% - 12rem);
    width: 24rem;
    height: 29rem;
    background-color: #161616;
    background-image: url('../../public/Texture2.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0.1rem;
    box-shadow: 0 0 1.1rem 0.1rem #a4ff129c;
    border: 1px solid #a4ff128f;
    overflow: hidden;
    z-index: 200;
    opacity: 1;
    animation-name: fadein;
    animation-duration: 0.4s;
    animation-timing-function: ease-in;
}

.loginRegisterModalMini {
    position: fixed;
    top: 9rem;
    left: calc(50% - 12rem);
    width: 24rem;
    height: 24rem;
    background-color: #161616;
    background-image: url('../../public/Texture2.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0.1rem;
    box-shadow: 0 0 1.1rem 0.1rem #a4ff129c;
    border: 1px solid #a4ff128f;
    overflow: hidden;
    z-index: 200;
    opacity: 1;
    animation-name: fadein;
    animation-duration: 0.4s;
    animation-timing-function: ease-in;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.loginRegisterModalHide {
    display: none;
    position: fixed;
    top: 9rem;
    left: calc(50% - 12rem);
    width: 24rem;
    height: 29rem;
    background-color: #161616;
    background-image: url('../../public/Texture2.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0.1rem;
    box-shadow: 0 0 1.1rem 0.1rem #a4ff129c;
    border: 1px solid #a4ff128f;
    overflow: hidden;
    z-index: 200;
    opacity: 0;
}

.loginRegisterModalHideMini {
    display: none;
    position: fixed;
    top: 9rem;
    left: calc(50% - 12rem);
    width: 24rem;
    height: 24rem;
    background-color: #161616;
    background-image: url('../../public/Texture2.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0.1rem;
    box-shadow: 0 0 1.1rem 0.1rem #a4ff129c;
    border: 1px solid #a4ff128f;
    overflow: hidden;
    z-index: 200;
    opacity: 0;
}

.loginRegisterModalLogo {
    position: absolute;
    top: 0;
    left: calc(50% - 3.75rem);
    width: 7.5rem;
}

.loginRegisterModalTop {
    width: 100%;
    height: 4.5rem;
    background-image: url('../../public/footer-background-img\ 2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.registerModalTopTitle {
    all: unset;
    width: 42%;
    height: 100%;
    background: transparent;
    border: none;
    color: #ffffff;
    font-size: 0.9rem;
    text-align: center;
    cursor: pointer;
}

.registerModalTopTitleActive {
    all: unset;
    width: 42%;
    height: 100%;
    background: transparent;
    border-bottom: 0.1rem solid #a3ff12;
    color: #ffffff;
    font-size: 0.9rem;
    text-align: center;
    cursor: pointer;
}

.loginModalTopTitle {
    all: unset;
    width: 42%;
    height: 100%;
    background: transparent;
    border: none;
    color: #ffffff;
    font-size: 0.9rem;
    text-align: center;
    cursor: pointer;
}

.loginModalTopTitleActive {
    all: unset;
    width: 42%;
    height: 100%;
    background: transparent;
    border-bottom: 0.1rem solid #a3ff12;
    color: #ffffff;
    font-size: 0.9rem;
    text-align: center;
    cursor: pointer;
}

.LoginRegisterModalMain {
    width: 100%;
    padding: 1rem;
}

.timerBox {
    margin-bottom: -50px;
    margin-top: 20px;
    color: #f44336;
}

@media screen and (max-width: 992px) {
    .loginRegisterModal {
        top: 4rem;
    }
    .loginRegisterModalMini {
        top: 4rem;
    }
    .loginRegisterModalHide {
        top: 4rem;
    }
    .loginRegisterModalHideMini {
        top: 4rem;
    }
}

@media screen and (max-width: 992px) {
    .loginRegisterModal {
        top: 4rem;
        left: 5%;
        width: 90%;
        height: 29rem;
    }
    .loginRegisterModalMini {
        top: 4rem;
        left: 5%;
        width: 90%;
        height: 24rem;
    }
    .loginRegisterModalHide {
        top: 4rem;
        left: 5%;
        width: 90%;
        height: 29rem;
    }
    .loginRegisterModalHideMini {
        top: 4rem;
        left: 5%;
        width: 90%;
        height: 24rem;
    }
}