.loginRegisterModalBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #000000c2;
    z-index: 190;
}

.loginRegisterModalBackdropHide {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #000000c2;
    z-index: 190;
}

.loginRegisterModal {
    position: fixed;
    top: 9rem;
    left: calc(50% - 12rem);
    width: 24rem;
    height: 28rem;
    background-image: url('../../public/Texture2.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0.1rem;
    box-shadow: 0 0 0.5rem 0.1rem #a4ff1285;
    overflow: hidden;
    z-index: 200;
}

.loginRegisterModalHide {
    display: none;
    position: fixed;
    top: 9rem;
    left: calc(50% - 12rem);
    width: 24rem;
    height: 28rem;
    background-image: url('../../public/Texture2.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0.1rem;
    box-shadow: 0 0 0.5rem 0.1rem #a4ff1285;
    overflow: hidden;
    z-index: 200;
}

.loginRegisterModalLogo {
    position: absolute;
    top: 0;
    left: calc(50% - 3.5rem);
    width: 7rem;
}

.loginRegisterModalTop {
    width: 100%;
    height: 4.5rem;
    background-image: url('../../public/footer-background-img\ 2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.registerModalTopTitle {
    all: unset;
    width: 42%;
    height: 100%;
    background: transparent;
    border: none;
    color: #ffffff;
    font-size: 0.9rem;
    text-align: center;
    cursor: pointer;
}

.registerModalTopTitleActive {
    all: unset;
    width: 42%;
    height: 100%;
    background: transparent;
    border-bottom: 0.1rem solid #A3FF12;
    border: none;
    color: #ffffff;
    font-size: 0.9rem;
    text-align: center;
    cursor: pointer;
}

.loginModalTopTitle {
    all: unset;
    width: 42%;
    height: 100%;
    background: transparent;
    border: none;
    color: #ffffff;
    font-size: 0.9rem;
    text-align: center;
    cursor: pointer;
}

.loginModalTopTitleActive {
    all: unset;
    width: 42%;
    height: 100%;
    background: transparent;
    border-bottom: 0.1rem solid #A3FF12;
    border: none;
    color: #ffffff;
    font-size: 0.9rem;
    text-align: center;
    cursor: pointer;
}