.loginRegisterModal {
    position: fixed;
    top: 5rem;
    left: calc(50% - 9rem);
    widows: 18rem;
    height: 23rem;
    overflow: hidden;
    z-index: 200;
}

.loginRegisterModal {
    position: fixed;
    top: 5rem;
    left: calc(50% - 9rem);
    widows: 18rem;
    height: 23rem;
    overflow: hidden;
    z-index: 200;
}

.loginRegisterModalTop {
    width: 100%;
    height: 2.5rem;
    background-image: url('../../public/footer-background-img\ 2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.registerModalTopTitle {
    all: unset;
    width: 49%;
    height: 100%;
    background: transparent;
    border: none;
    color: #ffffff;
    font-size: 0.9rem;
    text-align: center;
}

.loginModalTopTitle {
    all: unset;
    width: 49%;
    height: 100%;
    background: transparent;
    border: none;
    color: #ffffff;
    font-size: 0.9rem;
    text-align: center;
}