.pageLoader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1819227e;
    z-index: 20;
}

.pageLoaderHidden {
    position: unset;
    display: none;
}