.blog-section {
    width: 100%;
    height: auto;
    padding: 1rem 0 2rem 0;
    background-image: url('../public/Texture2.png');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: fill;
    overflow: hidden;
}

.blogSlider-swiper-container {
    position: relative !important;
    overflow: hidden !important;
    height: auto !important;
    border-radius: 0.5rem !important;
    overflow: hidden !important;
    padding: 3rem 0;
}

.blogSlider-swiper-pagination {
    position: absolute !important;
    bottom: 3.5rem !important;
    left: 11rem !important;
    right: auto !important;
    z-index: 10 !important;
    width: auto !important;
    display: flex !important;
    justify-content: space-between !important;
}

.blogSlider-swiper-pagination .swiper-pagination-bullet {
    position: relative !important;
    background-color: #a3ff12 !important;
    width: 1.4rem !important;
    height: 0.6rem !important;
    outline: none !important;
    border: none !important;
    opacity: 0.4 !important;
    border-radius: 4px !important;
    margin: 0 0.5rem !important;
    transform: skew(10deg) !important;
    cursor: pointer !important;
}

.blogSlider-swiper-pagination .swiper-pagination-bullet-active {
    position: relative !important;
    background-color: #a3ff12 !important;
    width: 1.8rem !important;
    height: 0.6rem !important;
    outline: none !important;
    border: none !important;
    opacity: 1 !important;
    border-radius: 4px !important;
    transform: skew(10deg) !important;
    cursor: pointer !important;
}

.blog-slider-item {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.blog-slider-right {
    position: relative;
    width: 40%;
    height: 20rem;
    border-radius: 1rem;
    object-fit: fill;
    margin-right: -3rem;
    z-index: 15;
}

.blog-slider-right img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}

.blog-slider-left {
    width: 60%;
    height: auto;
    border-radius: 1rem;
    border: 0.1rem solid #A3FF12;
    box-shadow: 0 0 2.5rem 0.1rem #a4ff1285;
    background-color: #181922;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem 2rem 2rem 5rem;
}

.blog-slider-title {
    direction: rtl;
    color: #ffffff;
    font-size: 2rem;
    text-align: right;
    margin-bottom: 2rem;
}

.blog-slider-subtitle {
    direction: rtl;
    color: #ffffffb4;
    font-size: 1.1rem;
    line-height: 2.5rem;
    text-align: right;
    margin-bottom: 2rem;
}

.blog-slider-button-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.blog-slider-button {
    all: unset;
    font-family: Yekan;
    background-color: transparent;
    width: 10rem;
    color: #ffffff;
    font-size: 1.2rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-right: 1.5rem;
    cursor: pointer;
}

.blog-slider-arrow {
    color: #A3FF12 !important;
    font-size: 1.5rem;
    margin-left: 1rem;
}

.blog-slider-empty-message {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffffd4;
    font-size: 0.9rem;
    text-align: center;
}

@media screen and (max-width: 1150px) {
    .blog-slider-item {
        height: auto;
    }
    .blog-slider-title {
        font-size: 1.9rem;
        margin-bottom: 1.8rem;
    }
}

@media screen and (max-width: 1100px) {
    .blogSlider-swiper-pagination {
        bottom: 4rem !important;
        left: 9rem !important;
    }
}

@media screen and (max-width: 992px) {
    .blogSlider-swiper-container {
        height: auto !important;
    }
    .blog-slider-item {
        flex-direction: column;
        height: auto;
    }
    .blogSlider-swiper-pagination {
        bottom: 6rem !important;
        left: auto !important;
        right: 3rem !important;
    }
    .blog-slider-left {
        width: 100%;
        box-shadow: 0 0 1rem 0.1rem #a4ff1285;
        padding: 2rem 2rem 4rem 2rem;
    }
    .blog-slider-right {
        width: 80%;
        height: 27rem;
        margin-right: 0;
        margin-bottom: -3rem;
    }
    .blog-slider-title {
        margin-top: 4rem;
        margin-bottom: 2rem;
    }
    .blog-slider-button {
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 768px) {
    .blog-slider-title {
        font-size: 1.6rem;
    }
    .blog-slider-right {
        height: 21rem;
    }
}

@media screen and (max-width: 650px) {
    .blog-slider-right {
        height: 17rem;
    }
}

@media screen and (max-width: 576px) {
    .blog-slider-right {
        height: 16rem;
    }
    .blog-slider-title {
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 450px) {
    .blog-slider-right {
        height: 14rem;
    }
}

@media screen and (max-width: 420px) {
    .blog-slider-right {
        height: 13rem;
    }
    .blog-slider-title {
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }
    .blog-slider-subtitle {
        font-size: 1rem;
        line-height: 2.1rem;
    }
    .blog-slider-left {
        width: 100%;
        padding: 2rem 2rem 5rem 2rem;
    }
}

@media screen and (max-width: 370px) {
    .blog-slider-right {
        height: 11rem;
    }
}