.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-image: url('../public/Texture2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 2rem 0 1rem 0;
}

.footer-logo-box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

.footer-logo {
    width: 15rem;
}

.footer-links {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.7rem;
}

.footer-link {
    margin: 0 1.5rem;
    color: #ffffff;
    font-size: 1.4rem;
    cursor: pointer;
}

.footer-link:hover {
    color: #ffffff;
}

.footer-socials {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

.footer-social {
    width: 1.2rem;
    margin: 0 1rem;
    cursor: pointer;
}

.footer-bottom {
    direction: rtl;
    width: 100%;
    font-size: 0.9rem;
    text-align: center;
    color: #ffffff;
}

@media screen and (max-width: 576px) {
    .footer-links {
        flex-direction: column;
    }
}