.games-section {
    width: 100%;
    height: auto;
    background-image: url('../public/Texture2.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: fill;
    padding: 4rem 0;
    overflow: hidden;
}

.gameSlider-swiper-container {
    position: relative !important;
    overflow: hidden !important;
    height: 45rem !important;
    border-radius: 0.5rem !important;
}

.gameSlider-swiper-button-prev {
    position: absolute;
    top: 2rem;
    right: 1rem;
    width: calc(var(--swiper-navigation-size) / 44 * 27);
    height: var(--swiper-navigation-size);
    margin-top: calc(-1 * var(--swiper-navigation-size) / 2);
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--swiper-navigation-color, var(--swiper-theme-color));
    background: none;
    outline: none;
    border: none;
    font-size: 2rem;
}

.gameSlider-swiper-button-next-icon,
.gameSlider-swiper-button-prev-icon {
    color: #ffffff;
    font-size: 1.5rem;
}

.gameSlider-swiper-button-next {
    position: absolute;
    top: 2rem;
    right: 6rem;
    width: calc(var(--swiper-navigation-size) / 44 * 27);
    height: var(--swiper-navigation-size);
    margin-top: calc(-1 * var(--swiper-navigation-size) / 2);
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--swiper-navigation-color, var(--swiper-theme-color));
    background: none;
    outline: none;
    border: none;
    font-size: 2rem;
}

.game-slider-item {
    width: 100%;
    height: 100%;
}

.game-slider-item-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #18192271;
    z-index: 2;
}

.game-slider-caption-division {
    position: absolute;
    bottom: 0;
    right: 0;
    width: auto;
    height: 4rem;
    background-color: #181922b0;
    color: #ffffff;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    z-index: 4;
}

.game-slider-caption-logo {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    width: 4rem !important;
    z-index: 4;
}

.swiper-slide-active .game-slider-item-image {
    width: 100%;
    height: 100%;
    animation-name: gamesimagezoom;
    animation-duration: 7s;
    animation-timing-function: linear;
}

@keyframes gamesimagezoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}

.game-section-consoles {
    width: 100%;
    height: 7rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 4rem;
}

.game-section-consoles h6 {
    color: #ffffff;
    font-size: 3rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 0.3rem;
    text-shadow: 0 0 20px #fff, 0 0 30px #a4ff12af, 0 0 40px #a4ff12af, 0 0 50px #a4ff12af, 0 0 60px #a4ff12af, 0 0 70px #a4ff12af, 0 0 80px #a4ff12af;
    margin: 0;
}

.game-section-consoles-divider {
    width: 0;
    height: 0;
    background-color: none;
    box-shadow: none;
    margin: 0 6rem;
}

@media screen and (max-width: 992px) {
    .game-section-consoles {
        width: 100%;
        height: auto;
        flex-direction: column;
        margin-top: 6rem;
        margin-bottom: 2rem;
    }
    .game-section-consoles h6 {
        width: 100%;
        text-align: center;
    }
    .game-section-consoles-divider {
        width: 0.3rem;
        height: 8rem;
        background-color: #ffffff;
        box-shadow: 0 0 2rem 0.2rem #A3FF12;
        margin: 0.8rem 0;
        transform: rotate(90deg);
    }
}

@media screen and (max-width: 768px) {
    .game-slider .owl-nav {
        top: -1rem;
    }
    .game-slider-caption-logo {
        width: 3rem !important;
    }
    .game-slider-caption-division {
        height: 3.6rem;
        font-size: 1.2rem;
        padding: 1rem 1.4rem;
    }
}

@media screen and (max-width: 450px) {
    .gameSlider-swiper-container {
        height: 18rem !important;
    }
}

@media screen and (max-width: 420px) {
    .game-section-consoles {
        height: 10rem;
    }
    .game-section-consoles h6 {
        font-size: 2rem;
    }
    .game-section-consoles-divider {
        margin: 0 0;
    }
}

@media screen and (max-width: 400px) {
    .gameSlider-swiper-container {
        height: 16rem !important;
    }
}

@media screen and (max-width: 370px) {
    .gameSlider-swiper-container {
        height: 15rem !important;
    }
}

@media screen and (max-width: 350px) {
    .gameSlider-swiper-container {
        height: 14rem !important;
    }
}