@font-face {
    font-family: Yekan;
    src: url('../assets/fonts/iran-yekan/iranyekan.woff2');
    src: url('../assets/fonts/iran-yekan/iranyekan.woff');
}

html,
body {
    padding: 0;
    margin: 0 auto;
    font-family: Yekan;
    box-sizing: border-box;
    height: 60rem;
    background-color: #181922;
}

a,
a:hover {
    text-decoration: none;
}

*,
* * {
    font-family: Yekan;
    box-sizing: border-box;
}

.header-socials-tooltip {
    position: relative;
}

.header-socials-tooltip:after {
    content: attr(data-title);
    background-color: #a3ff12;
    color: #181922;
    font-size: 0.9rem;
    position: absolute;
    padding: 0.1rem 0.2rem;
    bottom: -130%;
    left: calc(50% - 2.3rem);
    width: 4rem;
    text-align: center;
    box-shadow: 0 0 0.3rem 0.1rem #a3ff12;
    opacity: 0;
    z-index: 99;
    visibility: hidden;
}

.header-socials-tooltip:before {
    content: '';
    position: absolute;
    left: calc(50% - 0.8rem);
    bottom: -0.6rem;
    width: 0;
    height: 0;
    border-left: 0.8rem solid transparent;
    border-right: 0.8rem solid transparent;
    border-bottom: 0.8rem solid #a3ff12;
    opacity: 0;
    z-index: 99;
    visibility: hidden;
}

.header-socials-tooltip:hover:after,
.header-socials-tooltip:hover:before {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container {
        width: 560px;
    }
}

@media (min-width: 650px) {
    .container {
        width: 630px;
    }
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1100px) {
    .container {
        width: 1070px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

@media (min-width: 1700px) {
    .topSlider-swiper-container>.swiper-pagination-bullets,
    .swiper-pagination-custom,
    .swiper-pagination-fraction,
    .topSlider-swiper-pagination {
        right: calc(50% - 9rem) !important;
        left: auto !important;
    }
    .topSlider-swiper-button-next {
        bottom: 1.1rem;
        right: calc(50% - 13rem) !important;
        font-size: 1.7rem;
    }
    .topSlider-swiper-button-prev {
        bottom: 1.1rem;
        right: calc(50% + 6rem) !important;
        font-size: 1.5rem;
    }
}