.make-mony {
    width: 100%;
    height: auto;
    padding: 6rem 0;
    background-image: url('../img/Texture2.png');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: fill;
    margin-top: 7.8rem;
    overflow: hidden;
}

.make-mony-main {
    position: relative;
    width: 100%;
    height: 28rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.make-mony-left {
    width: 60%;
    height: 100%;
    border-radius: 1rem;
    border: 0.1rem solid #A3FF12;
    box-shadow: 0 0 3rem 0.1rem #a4ff1285;
    background-color: #181922;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 2rem 5rem 2rem 3rem;
}

.make-mony-title {
    direction: rtl;
    color: #ffffff;
    font-size: 2rem;
    text-align: right;
    margin-bottom: 2rem;
}

.make-mony-subtitle {
    direction: rtl;
    color: #ffffffb4;
    font-size: 1.1rem;
    line-height: 2.5rem;
    text-align: right;
    margin-bottom: 2rem;
}

.make-mony-button {
    all: unset;
    font-family: Yekan;
    background-color: transparent;
    width: 8rem;
    color: #ffffff;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 1.5rem;
    cursor: pointer;
}

.make-mony-arrow {
    color: #A3FF12 !important;
    font-size: 1.5rem;
    margin-left: 1rem;
}

.make-mony-right {
    width: 40%;
    height: 80%;
    border-radius: 1rem;
    background-image: url('../img/Icewind_Dale_8_cropped.056.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: fill;
    margin-left: -3rem;
}

@media screen and (max-width: 1150px) {
    .header-navbar-item {
        width: 7rem;
    }
    .make-mony-main {
        height: 26rem;
    }
    .make-mony-title {
        font-size: 1.9rem;
        margin-bottom: 1.8rem;
    }
}

@media screen and (max-width: 992px) {
    .register-box,
    .register-box-toggle {
        top: 4rem;
        height: calc(100vh - 4rem);
    }
    .register-box-inputs {
        right: 5rem;
        width: 20rem;
    }
    #mobileLoginLogoKeeper {
        display: block;
    }
    .header {
        background-image: url('../img/Texture2.png');
        box-shadow: 0 0 0.5rem 0.2rem #2b2b2b;
        height: 4rem;
    }
    .hamburger-icon {
        display: block;
    }
    .mobile-header-logo {
        display: block;
    }
    .header-logo {
        display: none;
    }
    .header-login-logo-box {
        display: none;
    }
    .header-phone-logo-box {
        display: none;
    }
    .header-top {
        display: none;
    }
    .header-navbar {
        display: none;
    }
    .contact-us-main {
        flex-direction: column-reverse;
    }
    .contact-us-left {
        width: 100%;
    }
    .contact-us-inputs-box {
        width: 100%;
    }
    .contact-us-name-input {
        width: 45%;
    }
    .contact-us-family-input {
        width: 45%;
    }
    .contact-us-textarea {
        width: 97%;
    }
    .contact-us-right {
        width: 100%;
        margin-bottom: 2rem;
    }
    .top-slider-section {
        top: 4rem;
    }
    .make-mony {
        margin-top: 4rem;
    }
    .top-slider-caption-button {
        top: 54%;
    }
    .top-slider-caption-title {
        top: 15%;
        right: 2rem;
        font-size: 1.5rem;
        line-height: 3rem;
    }
    .top-slider-caption-division {
        top: 16%;
        width: 10rem;
        height: 6rem;
    }
    .make-mony-main {
        flex-direction: column-reverse;
        height: auto;
    }
    .make-mony-left {
        width: 100%;
        padding: 2rem;
    }
    .make-mony-right {
        width: 80%;
        height: 30rem;
        margin-left: 0;
        margin-bottom: -3rem;
    }
    .make-mony-title {
        margin-top: 4rem;
        margin-bottom: 2rem;
    }
    .make-mony-button {
        margin-bottom: 1rem;
    }
    .blog-slider-item {
        flex-direction: column;
        height: auto;
    }
    .blog-slider .owl-dots {
        bottom: -2.5rem;
        left: auto;
    }
    .blog-slider-left {
        width: 100%;
        padding: 2rem;
    }
    .blog-slider-right {
        width: 80%;
        height: 30rem;
        margin-right: 0;
        margin-bottom: -3rem;
    }
    .blog-slider-title {
        margin-top: 4rem;
        margin-bottom: 2rem;
    }
    .blog-slider-button {
        margin-bottom: 1rem;
    }
    .game-section-consoles {
        width: 100%;
        height: auto;
        flex-direction: column;
        margin-top: 6rem;
        margin-bottom: 2rem;
    }
    .game-section-consoles h6 {
        width: 100%;
        text-align: center;
    }
    .game-section-consoles-divider {
        width: 0.3rem;
        height: 8rem;
        background-color: #ffffff;
        box-shadow: 0 0 2rem 0.2rem #A3FF12;
        margin: 0.8rem 0;
        transform: rotate(90deg);
    }
}

@media screen and (max-width: 768px) {
    .make-mony-title {
        font-size: 1.6rem;
    }
    .make-mony-right {
        height: 23rem;
    }
}

@media screen and (max-width: 576px) {
    .make-mony-right {
        height: 18rem;
    }
    .make-mony-title {
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 450px) {
    .make-mony-right {
        height: 16rem;
    }
}

@media screen and (max-width: 420px) {
    .make-mony-right {
        height: 14rem;
    }
    .make-mony-title {
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }
    .make-mony-subtitle {
        font-size: 1rem;
        line-height: 2.1rem;
    }
}

@media screen and (max-width: 370px) {
    .make-mony-right {
        height: 12rem;
    }
}