.make-mony {
    width: 100%;
    height: auto;
    padding: 2rem 0;
    background-image: url('../public/Texture2.png');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: fill;
    margin-top: 7.8rem;
    overflow: hidden;
}

.make-mony-main {
    position: relative;
    width: 100%;
    height: 28rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 4rem 0;
}

.make-mony-left {
    width: 60%;
    height: 100%;
    border-radius: 1rem;
    border: 0.1rem solid #A3FF12;
    box-shadow: 0 0 3rem 0.1rem #a4ff1285;
    background-color: #181922;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 2rem 5rem 2rem 3rem;
}

.make-mony-title {
    direction: rtl;
    color: #ffffff;
    font-size: 2rem;
    text-align: right;
    margin-bottom: 2rem;
}

.make-mony-subtitle {
    direction: rtl;
    color: #ffffffb4;
    font-size: 1.1rem;
    line-height: 2.5rem;
    text-align: right;
    margin-bottom: 2rem;
}

.make-mony-button {
    all: unset;
    font-family: Yekan;
    background-color: transparent;
    width: 8rem;
    color: #ffffff;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 1.5rem;
    cursor: pointer;
}

.make-mony-arrow {
    color: #A3FF12 !important;
    font-size: 1.5rem;
    margin-left: 1rem;
}

.make-mony-right {
    width: 40%;
    height: 80%;
    border-radius: 1rem;
    background-image: url('../public/Icewind_Dale_8_cropped.056.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: fill;
    margin-left: -3rem;
}

@media screen and (max-width: 1150px) {
    .make-mony-main {
        height: 26rem;
    }
    .make-mony-title {
        font-size: 1.9rem;
        margin-bottom: 1.8rem;
    }
}

@media screen and (max-width: 992px) {
    .make-mony {
        margin-top: 4rem;
    }
    .make-mony-main {
        flex-direction: column-reverse;
        height: auto;
        padding-left: -2rem;
        padding-right: -2rem;
    }
    .make-mony-left {
        width: 100%;
        padding: 2rem;
        box-shadow: 0 0 2rem 0.1rem #a4ff1285;
    }
    .make-mony-right {
        width: 80%;
        height: 30rem;
        margin-left: 0;
        margin-bottom: -3rem;
    }
    .make-mony-title {
        margin-top: 4rem;
        margin-bottom: 2rem;
    }
    .make-mony-button {
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 768px) {
    .make-mony {
        margin-top: 2rem;
    }
    .make-mony-title {
        font-size: 1.6rem;
    }
    .make-mony-left {
        box-shadow: 0 0 2rem 0.1rem #a4ff1285;
    }
    .make-mony-right {
        height: 23rem;
    }
}

@media screen and (max-width: 576px) {
    .make-mony {
        margin-top: 4rem;
    }
    .make-mony-right {
        height: 18rem;
    }
    .make-mony-title {
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 450px) {
    .make-mony-right {
        height: 16rem;
    }
}

@media screen and (max-width: 420px) {
    .make-mony-right {
        height: 14rem;
    }
    .make-mony-title {
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }
    .make-mony-subtitle {
        font-size: 1rem;
        line-height: 2.1rem;
    }
}

@media screen and (max-width: 370px) {
    .make-mony-right {
        height: 12rem;
    }
}