.top-slider-section {
    position: relative;
    top: 7.8rem;
    width: 100%;
    height: auto;
}

.topSlider-swiper-container {
    position: relative !important;
    overflow: hidden !important;
    height: 50rem !important;
}

.topSlider-swiper-pagination {
    position: absolute !important;
    bottom: 3rem !important;
    right: 6rem !important;
    left: auto !important;
    z-index: 10 !important;
    width: 12rem !important;
    display: flex !important;
    flex-direction: row-reverse !important;
    justify-content: space-between !important;
}

.swiper-container-horizontal>.swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: 1rem;
    width: 12rem;
}

.topSlider-swiper-pagination .swiper-pagination-bullet {
    position: relative !important;
    background-color: #a3ff12 !important;
    text-align: center !important;
    width: 2.5rem !important;
    display: flex !important;
    height: 1.7rem !important;
    justify-content: center !important;
    align-items: center !important;
    outline: none !important;
    border: none !important;
    opacity: 1 !important;
    border-radius: 4px !important;
    transform: skew(10deg) !important;
    font-size: 1.6rem !important;
    cursor: pointer !important;
}

.topSlider-swiper-pagination .swiper-pagination-bullet-active {
    position: relative !important;
    background-color: #ffd617 !important;
    text-align: center !important;
    width: 2.5rem !important;
    display: flex !important;
    height: 1.7rem !important;
    justify-content: center !important;
    align-items: center !important;
    outline: none !important;
    border: none !important;
    border-radius: 4px !important;
    transform: skew(10deg) !important;
    font-size: 1.6rem !important;
    cursor: pointer !important;
}

.topSlider-swiper-button-prev {
    position: absolute;
    bottom: 2.7rem;
    right: 3rem;
    width: calc(var(--swiper-navigation-size) / 44 * 27);
    height: var(--swiper-navigation-size);
    margin-top: calc(-1 * var(--swiper-navigation-size) / 2);
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--swiper-navigation-color, var(--swiper-theme-color));
    background: none;
    outline: none;
    border: none;
    font-size: 2rem;
}

.topSlider-swiper-button-next-icon,
.topSlider-swiper-button-prev-icon {
    color: #ffffff;
    font-size: 1.5rem;
}

.topSlider-swiper-button-next {
    position: absolute;
    bottom: 2.7rem;
    right: 20rem;
    width: calc(var(--swiper-navigation-size) / 44 * 27);
    height: var(--swiper-navigation-size);
    margin-top: calc(-1 * var(--swiper-navigation-size) / 2);
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--swiper-navigation-color, var(--swiper-theme-color));
    background: none;
    outline: none;
    border: none;
    font-size: 2rem;
}

.top-slider-button-for-toggle,
.top-slider-button {
    position: relative;
}

.swiper-pagination-bullet-active::after {
    transform: rotate(90deg);
}

.swiper-pagination-bullet::after {
    content: '';
    position: absolute;
    top: 0;
    left: -1.1rem;
    width: 1px;
    height: 100%;
    background-color: #ffffffb4;
}

.top-slider-item {
    width: 100%;
    height: 100%;
}

.top-slider-item01 {
    background-image: url('../public/teknos-associates-gamers-make-money-image001.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: fill;
}

.top-slider-item02 {
    background-image: url('../public/teknos-associates-gamers-make-money-image001.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: fill;
}

.top-slider-item03 {
    background-image: url('../public/teknos-associates-gamers-make-money-image001.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: fill;
}


/* .top-slider-item img {
    width: 100%;
    height: 100%;
} */

.top-slider-item-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #181922af;
    z-index: 2;
}

.top-slider-caption {
    width: 90%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 5%;
    overflow: hidden;
}

.top-slider-caption-division {
    position: absolute;
    top: 25%;
    right: 0;
    display: block;
    width: 10rem;
    height: 6rem;
    background-color: #181922;
    z-index: 10;
}

.top-slider-caption-division span {
    position: absolute;
    top: 0.8rem;
    right: 0.8rem;
    display: block;
    color: #ffffff;
    font-size: 0.9rem;
}

.top-slider-caption-title {
    position: absolute;
    top: 24%;
    right: 2rem;
    font-size: 2.2rem;
    line-height: 3.5rem;
    color: #ffffff;
    text-align: right;
    display: block;
    z-index: 10;
    animation-name: captiontitle;
    animation-duration: 1s;
}

.top-slider-caption-title-after {
    position: absolute;
    top: 24%;
    right: 2rem;
    font-size: 2.2rem;
    line-height: 3.5rem;
    color: #ffffff;
    text-align: right;
    display: block;
    z-index: 10;
}

.top-slider-caption-button {
    all: unset;
    direction: rtl;
    position: absolute;
    top: 55%;
    right: 2rem;
    display: block;
    font-size: 1.2rem;
    padding: 0.3rem 3rem;
    color: #181922;
    background-color: #a3ff12;
    box-shadow: 0 0 0.5rem 0.1rem #a3ff12;
    text-align: center;
    z-index: 10;
    cursor: pointer;
}

.animated-caption-division {
    animation-name: captiondivision;
    animation-duration: 1s;
    animation-timing-function: ease-in;
}

@keyframes captiondivision {
    from {
        width: 0;
    }
    to {
        width: 10rem;
    }
}

.animated-caption-title {
    animation-name: captiontitle;
    animation-duration: 1s;
}

@keyframes captiontitle {
    from {
        opacity: 0;
        margin-right: -50%;
    }
    to {
        opacity: 1;
        margin-right: 0;
    }
}

.animated-caption-button {
    animation-name: captionbutton;
    animation-duration: 1s;
}

@keyframes captionbutton {
    from {
        opacity: 0;
        margin-right: -50%;
    }
    to {
        opacity: 1;
        margin-right: 0;
    }
}


/* .top-slider-item-image {
    display: block;
} */

@media (min-width: 1700px) {
    .top-slider-caption {
        width: 1600px !important;
        right: calc(50% - 600px) !important;
    }
    .top-slider .owl-nav {
        right: calc(50% - 9rem) !important;
    }
    .top-slider .owl-dots {
        right: calc(50% - 7rem) !important;
    }
}

@media screen and (max-width: 1100px) {
    .topSlider-swiper-container {
        height: 40rem;
    }
    .top-slider-caption-button {
        top: 55%;
        font-size: 1rem;
        padding: 0.2rem 1rem;
    }
    .top-slider-caption-title {
        top: 19%;
        right: 2rem;
        font-size: 1.7rem;
        line-height: 3.2rem;
    }
    .top-slider-caption-division {
        top: 20%;
        width: 10rem;
        height: 6rem;
    }
}

@media screen and (max-width: 992px) {
    .top-slider-section {
        top: 4rem;
    }
    .topSlider-swiper-container {
        height: 35rem;
    }
    .top-slider-caption-button {
        top: 54%;
    }
    .top-slider-caption-title {
        top: 15%;
        right: 2rem;
        font-size: 1.5rem;
        line-height: 3rem;
    }
    .top-slider-caption-division {
        top: 16%;
        width: 10rem;
        height: 6rem;
    }
}

@media screen and (max-width: 768px) {
    .contact-us-top-inputs {
        flex-direction: column;
    }
    .contact-us-name-input {
        width: 97%;
        margin-bottom: 1rem;
    }
    .contact-us-family-input {
        width: 97%;
    }
    .topSlider-swiper-container {
        height: 30rem;
    }
    .top-slider-item {
        height: 28rem;
    }
    .top-slider-item-backdrop {
        height: 100%;
    }
    .top-slider-item img {
        display: none !important;
    }
    .top-slider-caption-button {
        top: 54%;
    }
    .top-slider-caption-title {
        top: 15%;
        right: 2rem;
        font-size: 1.2rem;
        line-height: 2.6rem;
    }
    .top-slider-caption-division {
        top: 16%;
        width: 10rem;
        height: 5rem;
    }
    .top-slider .owl-dots .owl-dot button {
        width: 1.4rem;
        margin: 0 0.7rem;
        font-size: 0.8rem;
    }
    .top-slider .owl-dots .active button {
        width: 1.4rem;
    }
    .top-slider .owl-nav {
        bottom: 1rem;
        right: 4rem;
        width: 14rem;
    }
    .top-slider-button::after {
        left: -0.7rem;
    }
}

@media screen and (max-width: 576px) {
    .topSlider-swiper-container {
        height: 24rem;
    }
}