.panelPageMain {
    position: relative;
    width: 100%;
    height: auto;
    background: url('../../public/3-32183_tom-clancy-s-the-division-season-pass-game.jpg') center/cover no-repeat;
    object-fit: fill;
    overflow: hidden;
    margin-top: 7.8rem;
}

.panelPageMainBackdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #181922bb;
    z-index: 0;
}

.panelPageTitleBox {
    position: absolute;
    top: 5rem;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 5 !important;
    margin-top: 0;
}

.panelPageTitle {
    font-size: 2rem;
    text-align: center;
    color: #ffffff;
}

.panelMainTop {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-top: 16rem;
    z-index: 5;
}

.panelMainTopLeft {
    width: 45%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.panelMainTopRight {
    width: 45%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.panelMainBottom {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 5;
}

.panelMainInputBox {
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 0.5rem;
    /* height: 6.5rem; */
}

.panelMainInputPlaceholderBox {
    width: 100%;
    direction: rtl;
    margin-bottom: 0.2rem;
    color: #ffffffb4;
    z-index: 5;
}

.panelMainInputPlaceholderBox label {
    font-weight: normal;
    color: #ffffffb4;
}

.panelMainInputPlaceholderBox span {
    color: red;
    margin-right: 0.2rem;
}

.panelMainCenterInput {
    all: unset;
    direction: ltr;
    text-align: center;
    width: calc(100% - 1.2rem);
    color: #ffffffb4;
    font-size: 0.9rem;
    padding: 1rem 0.6rem;
    background-color: #181922;
    box-shadow: 0 0 1rem 0.5rem transparent;
    margin-bottom: 0;
}

.panelMainRTLInput {
    all: unset;
    direction: rtl;
    text-align: right;
    width: calc(100% - 1.2rem);
    color: #ffffffb4;
    font-size: 0.9rem;
    padding: 1rem 0.6rem;
    background-color: #181922;
    box-shadow: 0 0 1rem 0.5rem transparent;
    margin-bottom: 0;
}

.panelMainLTRInput {
    all: unset;
    direction: ltr;
    text-align: left;
    width: calc(100% - 1.2rem);
    color: #ffffffb4;
    font-size: 0.9rem;
    padding: 1rem 0.6rem;
    background-color: #181922;
    box-shadow: 0 0 1rem 0.5rem transparent;
    margin-bottom: 0;
}

.panelMainCenterInput:focus,
.panelMainRTLInput:focus,
.panelMainLTRInput:focus {
    box-shadow: 0 0 0.5rem 0.1rem #a3ff12;
}

.panelTextAreaBox {
    width: 100%;
    direction: rtl;
    z-index: 10;
}

.panelTextareaLabelBox {
    width: 100%;
    direction: rtl;
    margin-top: 0;
    margin-bottom: 0.2rem;
}

.panelTextareaLabelBox label {
    color: #ffffffb4;
}

.panelTextArea {
    all: unset;
    direction: rtl;
    text-align: right;
    width: calc(100% - 1.2rem);
    height: 5rem;
    color: #ffffffb4;
    font-size: 0.9rem;
    padding: 1rem 0.6rem;
    background-color: #181922;
    box-shadow: 0 0 1rem 0.5rem transparent;
}

.panelTextArea::placeholder {
    color: #ffffffb4;
    opacity: 1;
}

.panelTextArea:focus {
    box-shadow: 0 0 0.5rem 0.1rem #a3ff12;
}

.panelBirthdayBox {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.panelPageSelect {
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #181922;
    border: 1px solid #181922;
    outline: none;
    border-radius: 4px;
    padding: 0.4rem 0.2rem 0.4rem 0.7rem;
    color: #ffffff;
    z-index: 50;
    margin-bottom: 0.5rem;
}

.panelBirthdaySelect {
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    background: #181922;
    border: 1px solid #181922;
    outline: none;
    border-radius: 4px;
    padding: 0.4rem 0.2rem 0.4rem 0.7rem;
    color: #ffffff;
    z-index: 50;
    margin-bottom: 0.5rem;
}

.RTLPanelPageSelect {
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #181922;
    border: 1px solid #181922;
    outline: none;
    border-radius: 4px;
    padding: 0.4rem 0.7rem 0.4rem 0.2rem;
    color: #ffffff;
    z-index: 50;
    margin-bottom: 0.5rem;
}

.panelInputValidationSpan {
    width: 100%;
    margin-top: -0.3rem;
    margin-bottom: 0.5rem;
    text-align: right;
    font-size: 0.8rem;
    color: #a3ff12;
    z-index: 5;
}

.panelMainSubmitBox {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 5rem;
    z-index: 5;
}

.panelMainSubmitButton {
    all: unset;
    font-family: Yekan;
    background-color: #a3ff12;
    width: 12rem;
    padding: 0.6rem 0.5rem;
    text-align: center;
    color: #181922;
    font-size: 1.2rem;
    cursor: pointer;
}

@media screen and (max-width: 992px) {
    .panelPageMain {
        margin-top: 4rem;
    }
    .panelPageTitleBox {
        top: 4rem;
    }
    .panelPageTitle {
        font-size: 1.8rem;
    }
    .panelMainTop {
        margin-top: 14rem;
    }
    .panelMainTopRight,
    .panelMainTopLeft {
        width: 48%;
    }
}

@media screen and (max-width: 768px) {
    .panelMainTop {
        flex-direction: column;
        align-items: center;
        margin-top: 14rem;
    }
    .panelPageTitleBox {
        top: 4rem;
    }
    .panelPageTitle {
        font-size: 1.5rem;
    }
    .panelMainTopRight,
    .panelMainTopLeft {
        width: 100%;
    }
    .panelMainSubmitButton {
        width: 100%;
    }
}