.panelPageMain {
  position: relative;
  width: 100%;
  height: auto;
  background: url('../../public/3-32183_tom-clancy-s-the-division-season-pass-game.jpg')
    center/cover no-repeat;
  object-fit: fill;
  overflow: hidden;
  margin-top: 7.8rem;
}

.panelPageMainBackdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1819229f;
  z-index: -1;
}

.panelPageTitle {
  width: 100%;
  font-size: 2rem;
  text-align: center;
  color: #ffffff;
  z-index: 5;
  margin-top: 6.5rem;
}

.panelMainTop {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5rem;
}

.panelMainTopLeft {
  width: 49%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.panelMainTopRight {
  width: 49%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.panelMainBottom {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.panelMainInputBox {
  position: relative;
}

.panelMainInputPlaceholderBox {
  position: absolute;
  top: 7px;
  left: 8px;
  color: #b1b1b1;
  display: none;
}

.panelMainInputPlaceholderBox label {
  font-weight: normal;
  color: #b1b1b1;
}

.panelMainInputPlaceholderBox span {
  color: red;
}

.panelMainInput {
}
