.spinner {
  position: absolute;
  top: 45%;
  left: calc(50% - 2.5rem);
  width: 5rem;
  height: 4rem;
  text-align: center;
  font-size: 0.7rem;
  z-index: 10;
}

.spinner > div {
  background-color: #a3ff12;
  height: 100%;
  width: 0.65rem;
  margin: 0 0.1rem;
  display: inline-block;
  animation: sk-stretchdelay 1s infinite ease-in-out;
}

.spinner .rect2 {
  animation-delay: -0.9s;
}

.spinner .rect3 {
  animation-delay: -0.8s;
}

.spinner .rect4 {
  animation-delay: -0.7s;
}

.spinner .rect5 {
  animation-delay: -0.6s;
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
  }
}